{% if language == 'en' %}
  <ul>
    <li><a href="https://www.canada.ca/en/social.html">Social media</a></li>
    <li><a href="https://www.canada.ca/en/mobile.html">Mobile applications</a></li>
    <li><a href="http://www1.canada.ca/en/newsite.html">About Canada.ca</a></li>
    <li><a href="/eic/site/icgc.nsf/eng/h_07033.html">Terms and conditions</a></li>
    <li><a href="/eic/site/icgc.nsf/eng/h_07033.html#p1">Privacy</a></li>
  </ul>
{% else %}
  <ul>
    <li><a href="https://www.canada.ca/fr/sociaux.html">Médias sociaux</a></li>
    <li><a href="https://www.canada.ca/fr/mobile.html">Applications mobiles</a></li>
    <li><a href="http://www1.canada.ca/fr/nouveausite.html">À propos de Canada.ca</a></li>
    <li><a href="/eic/site/icgc.nsf/fra/h_07033.html">Avis</a></li>
    <li><a href="/eic/site/icgc.nsf/fra/h_07033.html#p1">Confidentialité</a></li>
  </ul>
{% endif %}
